<h1>Basic Information</h1><hr/>
<form>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" ng-model="user.inputFullName">
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ng-model="user.inputEmail" placeholder="Email">
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="number" class="form-control" ng-model="user.inputPhone" placeholder="Phone">
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" ng-model="user.inputWebsite" placeholder="Website">
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
     <div class="form-group">
       <label for="address">Address Line 1</label>
        <input type="text" class="form-control" ng-model="user.inputAddressLine1" placeholder="ex - 1201 D Park View">
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
       <div class="form-group">
        <label for="address">Address Line 2</label>
        <input type="text" class="form-control" ng-model="user.inputAddressLine2" placeholder="ex- Main Street">
         </div>
    </div>
  </div>
   
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
     <div class="form-group">
       <label for="address">Address Line 3</label>
        <input type="text" class="form-control" ng-model="user.inputAddressLine3" placeholder="ex- New York">
      </div>
      </div>
      </div>
      <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
         <a class="btn btn-lg btn-success text-center" href="#workex" ng-click="putBasicData();">Next</a>
    </div>
  </div>
</form>