<H1>Education</H1><hr />


<form ng-repeat="eduObj in user.education" >
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="fullname">Course Name</label>
        <input type="text" class="form-control" ng-model="eduObj.course" />
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="text">Institution Name</label>
        <input type="text" class="form-control" ng-model="eduObj.institution" />
      </div>
    </div>
  </div>
  <div class="row" ng-if="$last">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="fullname">Start Date</label>
        <input type="date" class="form-control" ng-model="eduObj.sdate" />
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="asas">End Date</label>
        <input type="date" class="form-control" ng-model="eduObj.edate" />
      </div>
    </div>
  </div>
  <div class="row" ng-if="$last">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="form-group">
        <label for="fullname">Other</label>
        <textarea cols="32" rows="4" ng-model="eduObj.other" class="form-control"> </textarea>
      </div>
    </div>
  </div>
  <hr />
</form>
 <div class="row">
   <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
       <button class="btn btn-primary" ng-click="createEduObj(user);">Add new</button>
  </div>
   
  	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" ng-if="user.education.length > 0">
       <a class="btn btn-lg btn-success text-center" href="#interest">Next</a>
  </div>
  </div>$scope.user